@import url('https://fonts.googleapis.com/css?family=Nunito');


@keyframes stretch {
  0% {
    transform: scale(.3);
    background-color: #FDC830;
    border-radius: 100%;
  }
  25%, 50% {
    transform: scale(1);
    background-color: #F37335;
    border-radius: 100%;
  }
  75% {
    transform: scale(.3);
    background-color: #FDC830;
    border-radius: 100%;
  }
  75%, 100% {
    transform: scale(.3);
    background-color: #FDC830;
    border-radius: 100%;
  }
}

.element .action {
  margin: 1em auto;
  font-family: 'Nunito', sans-serif;
  font-size: 2.8em;
}
.element .action::before {
  -webkit-animation-name: grow-content;
          animation-name: grow-content;
  -webkit-animation-duration: 16s;
          animation-duration: 16s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-delay: 0;
          animation-delay: 0;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: none;
          animation-fill-mode: none;
  -webkit-animation-play-state: running;
          animation-play-state: running;
  content: '';
  color: black;
}
@keyframes grow-content {
  0%, 24%, 100% {
    content: 'Inspire';
  }
  25%, 49% {
    content: 'Segure';
  }
  50%, 74% {
    content: 'Expire';
  }
  75%, 99% {
    content: 'Segure';
  }

}
